<% layout("/layouts/boilerplate") %>

  <body>
    <h3>All Listings</h3>
    <br>
    <% for(let listing of allListings) { %>
      <li>
        <a href="/listings/<%= listing._id %>">
          <%= listing.title %>
        </a>
      </li>
      <% } %>
  </body>