<% layout("/layouts/boilerplate") %>

  <body>
    <div class="row">
      <div class="col-6 offset-3">
        <h3 class="mt-2 mb-2">Add New Listing</h3>

        <form class="needs-validation" method="POST" action="/listings" novalidate enctype="multipart/form-data">
          <div>
            <label for="title" class="form-label fw-semibold">Enter title</label>
            <input class="form-control" type="text" name="listing[title]" placeholder="Enter title" required>
            <div class="invalid-feedback">
              Please choose a title.
            </div>
          </div>

          <div>
            <label for="description" class="form-label fw-semibold">Enter description</label>
            <textarea class="form-control" name="listing[description]" required></textarea>
            <div class="invalid-feedback">
              Please add a description.
            </div>
          </div>

          <div>
            <label for="image" class="form-label fw-semibold">Upload Image</label>
            <input class="form-control" type="file" name="listing[image]" required>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="price" class="form-label fw-semibold">Enter price</label>
              <input class="form-control" type="number" name="listing[price]" placeholder="Enter price" required>
              <div class="invalid-feedback">
                Please enter a valid price.
              </div>
            </div>

            <div class="col-md-8">
              <label for="location" class="form-label fw-semibold">Enter location</label>
              <input class="form-control" type="text" name="listing[location]" placeholder="Enter your location"
                required>
              <div class="invalid-feedback">
                Please enter a valid location.
              </div>
            </div>
          </div>

          <div>
            <label for="country" class="form-label fw-semibold">Enter country</label>
            <input class="form-control" type="text" name="listing[country]" placeholder="Enter your country" required>
            <div class="invalid-feedback">
              Please choose a country.
            </div>
          </div>

          <button class="btn btn-dark mt-3">Add</button>
        </form>
      </div>
    </div>
  </body>