<% layout("/layouts/boilerplate") %>

  <body>
    <div class="row">
      <div class="col-6 offset-3">
        <h3 class="mt-2 mb-2">Add New Listing</h3>
        <form method="POST" action="/listings">
          <div>
            <label for="title" class="form-label fw-semibold">Enter title</label>
            <input class="form-control" type="text" name="listing[title]" placeholder="Enter title">
          </div>

          <div>
            <label for="description" class="form-label fw-semibold">Enter description</label>
            <textarea class="form-control" name="listing[description]"></textarea>
          </div>

          <div>
            <label for="image" class="form-label fw-semibold">Enter Image link/URL</label>
            <input class="form-control" type="text" name="listing[image]" placeholder="Enter Image Link/URL">
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="price" class="form-label fw-semibold">Enter price</label>
              <input class="form-control" type="number" name="listing[price]" placeholder="Enter price">
            </div>

            <div class="col-md-8">
              <label for="location" class="form-label fw-semibold">Enter location</label>
              <input class="form-control" type="text" name="listing[location]" placeholder="Enter your location">
            </div>
          </div>

          <div>
            <label for="country" class="form-label fw-semibold">Enter country</label>
            <input class="form-control" type="text" name="listing[country]" placeholder="Enter your country">
          </div>

          <button class="btn btn-dark mt-3">Add</button>
        </form>
      </div>
    </div>
  </body>